<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <form class="d-flex" action="/index" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-info ml-3" type="submit">Search</button>
              </form>
            </div>
        </nav>
        <div class="container" style="margin: 40px auto; width: 50%;">
            <h1><%= p[1]%>, <%= p[2]%></h1>
        </div>
        <%for(let i=0 ; i<=13;i++){%>
            <div class="container" style="margin: 40px auto; width: 50%;">
                <div class="card">
                    <div class="card-header bg-info">
                        <div class="row">
                            <div class="col-6"><h5 class="card-text float-left" ><%= p[0][i].name%></h5>
                            </div>
                            <div class="col-6"><h5 class="card-text float-right"><%= getDate(p[0][i].startTime)%></h5></div>
                        </div>
                    </div>
                    
                    <div class="card-body"> 
                        <div class="row">
                            <div class="col-6"><p class="card-text" style="font-size: 50px; font-weight: bolder;"><%= p[0][i].temperature%> &#176;F</p></div>
                            <div class="col-6">
                                <div class="row"><p class="card-text"><%= p[0][i].shortForecast%></p></div>
                                <div class="row mt-1"><p class="card-text">Wind Speed: <%= p[0][i].windSpeed%></p></div>
                                <div class="row mt-1">
                                    <p>
                                        <a class="btn btn-warning" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Read More...</a>
                                    </p>
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class=""><%= p[0][i].detailedForecast%></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>